node_modules
!@Essentia_hoc/Collectio_Function_design_templates/Constructione_Principium/Secundo_gradu/GenerativusFucus/node_modules/
!@Essentia_hoc/_Collectio_this/Constructione_Principium/Versus_/node_modules
